<table class="table">
  <thead>
    <tr>
      <th scope="col">Mês</th>
      <th scope="col">Categoria</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let consolidado of consolidados">
      <td class="consolidado-mes">{{ consolidado.mes | nomeMes }}</td>
      <td class="consolidado-categoria" *ngIf="categorias.has(consolidado.categoria)">
        {{ categorias.get(consolidado.categoria).nome }}</td>
      <td class="consolidado-categoria text-secondary font-italic" *ngIf="!categorias.has(consolidado.categoria)">Não
        categorizado</td>
      <td class="consolidado-total">{{ consolidado.total | currency }}</td>
    </tr>
  </tbody>
</table>
