<section class="container">
  <div class="row" *ngIf="{
    categorias: categorias$ | async,
    lancamentos: lancamentos$ | async,
    consolidados: consolidados$ | async
   } as fatura">
    <div class="col">
      <h1>Fatura</h1>
      <app-tabela-lancamentos [categorias]="fatura.categorias" [lancamentos]="fatura.lancamentos">
      </app-tabela-lancamentos>
    </div>
    <div class="col">
      <h1>Consolidado</h1>
      <app-tabela-consolidados [categorias]="fatura.categorias" [consolidados]="fatura.consolidados">
      </app-tabela-consolidados>
    </div>
  </div>
</section>
